@import 'fluid-table';

.column-inner {
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 5px;
    margin: 8px;
    color: #000000;
    outline: 11px solid rgba(255, 255, 0, 0);
}

.container {
    width: 90%;
    margin: 20px auto 20px auto;
    display: table;
    text-align: center;
}

